<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h3>Author: <%= gossip[0] %></h3>
    <p><%= gossip[1] %></p>

    <a href="/gossips/<%= gossip[2] %>/edit">Modifier</a>
    <a href="/">Gossip index</a>
    
  </body>
</html>
